/save_model filter=lfs diff=lfs merge=lfs -text
preprocessing/X_train.pickle filter=lfs diff=lfs merge=lfs -text
dataset/59760_840806_bundle_archive.zip filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
.h5 filter=lfs diff=lfs merge=lfs -text
